@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

:root {
    --color-main: #F2D8D8;
    --color-secundary: #5C8984;
    --color-tertiary: #545B77;
    --color-hover: #374259;
    --padding-default: 2% 8%;
}

body {
    background-color: var(--color-main);
}

.header {
    background-color: var(--color-secundary);
    padding: 2%;
}

.header__menu {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.header__menu__item {
    text-decoration: none;
    color: var(--color-main);
    font-weight: 700;
    font-size: 1.06rem;
}

.content__hero {
    display: flex;
    flex-direction: column;
    background-color: var(--color-tertiary);
    padding: 5% 4%;
    gap: 10px;
    align-items: center;
    color: var(--color-main);
    font-size: 1.25rem;
    text-align: center;
}

.content__introduction {
    padding: var(--padding-default);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
}

.content__introduction__text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content__introduction__text-container__text,
.content__introduction__text-container__title {
    color: var(--color-secundary);
    font-size: 1.12rem;
}

.content__introduction__image {
    width: 16%;
}

.footer {
    background-color: var(--color-secundary);
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    color: var(--color-main);
    text-align: center;
}

/* PRODUCTS */

.content__products {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.content__products__product {
    width: 33.3%;
    padding: var(--padding-default);
    text-align: center;
}

.content__products__product__image {
    width: 100%;
}

.content__products__product__name {
    font-size: 1.25rem;
    margin-top: 10px;
}

/* CONTACT */

.content__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-default);
    gap: 30px;
}

.content__contact__titulo {
    font-weight: 300;
    font-size: 1.25rem;
}

.content__contact__titulo__lista {
    list-style-type: none;
}

.content__contact__titulo__lista__items {
    font-weight: 600;
    font-size: 1.06rem;
}

.content__contact__titulo__lista__items--color {
    color: var(--color-secundary);
}

@media (max-width: 1450px) {

    .content__introduction {
        padding: 5% 8%;
        justify-content: center;
        gap: 50px;
        flex-direction: column;
    }
    
    .content__introduction__text-container {
        align-items: center;
        text-align: center;
    }

    .content__introduction__image {
        width: 35%;
    }
    
    .content__products__product {
        width: 50%;
    }

}

@media (max-width: 640px) {

    .header {
        padding: 5%;
    }

    .header__menu {
        flex-direction: column;
        align-items: center;
    }

    .content__hero {
        padding: 9% 4%;
    }

    .content__introduction__image {
        width: 70%;
    }

    .content__products {
        flex-direction: column;
    }
    
    .content__products__product {
        width: 100%;
        padding: 10%;
    }

    .content__contact {
        text-align: center;
        padding: 10% 8%;
    }

    .footer {
        padding: 5%;
    }
    

}
